@import url("https://fonts.googleapis.com/css?family=Montserrat:400&display=swap");
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css");

$font-color: #303030;
$font-color-toc: rgba($font-color, 0.5);
$font-color-light: lighten($font-color, 30%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fbfbfb;
  color: $font-color;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}
@media screen and (min-width: 800px) {
  html {
    font-size: 1.125rem;
  }
}

body {
  line-height: 1.6;
}

html,
body {
  margin: 0;
}

h1,
p,
figure,
pre,
blockquote {
  margin: 0 0 1rem;
}

hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 2rem 0;
  border: 0;
  border-top: 5px dotted #e6e6e6;
}

figure .representation {
  display: block;
  margin: 0 0 0.5rem;
}

figcaption {
  padding: 0 0.5rem 0.5rem;
  font-size: 0.8125rem;
  text-align: right;
}
figcaption .original::before {
  content: " ";
  display: block;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 1rem;
  border-left: 5px solid #e5e5e5;
  color: #686868;
  font-style: italic;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  display: block;
  margin: 1rem 0 0;
  font-size: 0.875rem;
  text-align: right;
}

a {
  box-shadow: 0px -0.5em 0px hsla(175, 64%, 90%, 1) inset;
  transition: box-shadow 0.2s ease-in-out;
  color: currentColor;
  text-decoration: none;
}
a:hover {
  box-shadow: 0px -0.7em 0px hsla(175, 64%, 85%, 1) inset;
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

li {
  margin: 0;
}
li:not(last-of-type) {
  margin-bottom: 0.4rem;
}

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help;
}

kbd,
code,
pre {
  font-family: "Fira Code", '"Source Code Pro"', monospace;
}

pre {
  max-width: 100%;
}

kbd,
code {
  margin: 0;
  padding: 0.125rem 0.25rem 0;
  background-color: #e5e5e5;
}

article,
section {
  display: block;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.875rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: 0.5rem;
}
@media screen and (min-width: 800px) {
  .container {
    padding: 1rem 0;
  }
}

.site-header,
.site-nav {
  margin-bottom: 2rem;
}
.site-header h1,
.site-nav h1 {
  margin-bottom: 0.5rem;
}

.site-nav a::before {
  content: "\2190";
  margin-right: 0.25rem;
}

.site-footer {
  margin: 3rem 0 0;
  font-size: 0.8125rem;
}
.site-footer [itemprop="sameAs"] + [itemprop="sameAs"] {
  margin-left: 0.4rem;
}
@media screen and (min-width: 800px) {
  .site-footer {
    margin-bottom: 0.5rem;
  }
}

.posts ol {
  margin-left: 0;
  list-style: none;
}
.posts li {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 800px) {
  .posts li {
    display: flex;
    flex-direction: row;
  }
}
.posts time {
  display: block;
}

.posts time + a {
  margin-left: 1rem;
}
@media screen and (min-width: 800px) {
  .posts time + a {
    margin-left: 2rem;
  }
}

.post .post-header {
  margin-bottom: 3rem;
}

.post .post-date {
  display: block;
  margin: 0 0 1rem;
  text-align: right;
  white-space: nowrap;
}

.post p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.9em;
}

.post li,
a .post ol,
.post ul {
  font-family: "Montserrat";
}

.hljs {
  margin: 1rem 0;
  font-size: 0.875rem;
}

.year-divider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.year-divider:before {
  content: "";
  border-top: 1px dotted lightgray;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 150%;
}

.tall-header {
  min-height: 90vh;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  #TableOfContents {
    display: none;
  }
}
.post {
  position: relative;

  #TableOfContents {
    position: absolute;
    left: -40px;
    height: 100%;
    width: calc((100vw - 38rem) / 2 - 50px);
    max-width: 250px;
    margin-left: 10px;
    transform: translate(-100%);
    &.is-content-hidden {
      ul li {
        color: transparent;
      }
    }

    &:hover {
      ul li {
        color: $font-color-toc;
        &.active {
          color: $font-color !important;
        }
        &::hover a {
          text-decoration: underline;
        }
      }
    }

    ul {
      counter-reset: item;
      max-height: calc(100vh - 100px);
      overflow: auto;
      padding-top: 6px;
      position: -webkit-sticky;
      position: sticky;
      top: 30px;
      list-style-position: outside !important;
      margin: 0;

      li {
        margin-left: 20px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        counter-increment: li;

        font-family: monospace;

        color: $font-color-toc;
        transition: color 350ms ease-in-out;

        a {
          text-decoration: none;
          box-shadow: none;
        }

        &::before {
          content: counter(li);

          position: absolute;
          left: 0px;

          text-align: right;

          color: $font-color-toc;
          transition: color 350ms ease-in-out;
        }

        &:hover,
        &:hover::before {
          color: $font-color;
        }

        &.active::before {
          color: $font-color;
        }
      }
    }
  }
}

div.list-container {
  div.post-entry {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;

    &:hover  {
      .post-excerpt{
        color: $font-color !important;
      }
      
    }

    &-meta {
      display: flex;
      flex-direction: column;
      min-width: fit-content;

      margin-right: 2rem;

      font-family: Fira Code;
      color: $font-color-light;
      font-size: 0.8em;

      transition: color 200ms ease-in-out;
    }
    &-details {
      display: flex;
      flex-direction: column;
      color: $font-color-light;
      a {
        display: block;
        box-shadow: none;
      }
      .post {
        &-title {
          color: $font-color;
          text-transform: uppercase;
        }
        &-excerpt {
          font-size: 0.8rem;
          transition: color 200ms ease-in-out;
          &.arrow{
            display: none;
            font-family: Fira Code;
          }
        }
      }
      .reading-time {
      }
    }
  }
}
