<script>
  const colors = [[190, 84, 55], "black"];

  let canvasElement;

  function draw() {
    clear();
    divide(0, 0, width);
  }

  function setup() {
    createCanvas(160, 160).parent("p5-container");
    canvasElement = document.getElementById("p5-container");
    colorMode(HSB);
    noStroke();
    noLoop();
    
  }

  function fillSquare(x, y, size, i = 0) {
    const r = size * 0.75;
    const color = random() > 0.92 ? [20, 84, 80] : random(colors);
    fill(color);

    if (random() > 0.5 && i < 2) {
      divide(x, y, size, i + 1);
    } else if (random() > 0.4) {
      rect(x, y, r, r);
    }
  }

  function divide(x, y, size, i = 0) {
    const h = size / 2;

    fillSquare(x, y, h, i);
    fillSquare(x + h, y, h, i);
    fillSquare(x + h, y + h, h, i);
    fillSquare(x, y + h, h, i);
  }

  function mouseWheel() {
    if (canvasElement.getBoundingClientRect().bottom > 0) {
      draw();
    }
  }
</script>
<div id="p5-container"></div>
