{{ partial "top.html" . }}

  {{ .Content }}

  <article class="posts">

    {{ range  sort (site.Sections) -}}
    <section>

      <h2>{{ .Section }}</h2>

      {{ range .Pages.GroupByDate "2006" -}}
      <h5 class="year-divider"> {{ .Key }}</h5>
      <ol>
        {{ range .Pages -}}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" | lower }}</time>
          <a href="{{ .RelPermalink }}">{{ .Title | lower }}</a>
        </li>
        {{- end }}
      </ol>

      {{- end }}

    </section>
    {{ end }}

  </article>

{{ partial "bottom.html" . }}
