{{ partial "top.html" . }}

  {{ .Content }}
  </div>
  
  <article class="posts">

    {{ range  site.Sections -}}
    <section>

      <h2 id="{{ .Section }}">{{ .Section }}</h2>
      
      {{ if eq .Section "writings" -}}
        {{ range .Pages.GroupByDate "2006" -}}
          <h5 class="year-divider"> {{ .Key }}</h5>
          <div class="list-container">
            {{ range .Pages -}}
            <div class="post-entry">
              <div class="post-entry-meta">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" | lower }}</time>
                <div class="reading-time"> ~{{ .ReadingTime }} min</div>
              </div>
              <div class="post-entry-details">
                <a  href="{{ .RelPermalink }}">
                  <div class="post-title">
                    {{ .Title | lower }}
                  </div>
                  <div class="post-excerpt">
                    {{ .Params.excerpt | markdownify }}
                  </div>
                </a>                
              </div>
            </div>
            {{- end }}
          </div>
        {{- end}}
        
      {{- else -}}
      
        {{ range .Pages.GroupByDate "2006" -}}
          <h5 class="year-divider"> {{ .Key }}</h5>
          <ol>
            {{ range .Pages -}}
            <li>
              <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" | lower }}</time>
              <a href="{{ .RelPermalink }}">{{ .Title | lower }}</a>
            </li>
            {{- end }}
          </ol>
        {{- end}}
        
      {{- end }}
        
    </section>
    {{ end }}

  </article>

{{ partial "bottom.html" . }}
